server/webservices/ZOARequestAction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
targetNamespace="http://eqeju3pb.qcloud.la/service/ZOARequestAction" 
xmlns:tns="http://eqeju3pb.qcloud.la/service/ZOARequestAction" 
xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" >
  
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" 
targetNamespace="http://eqeju3pb.qcloud.la/service/ZOARequestAction" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="createRequest">
  <xsd:complexType>
  <xsd:sequence>
    <xsd:element maxOccurs="1" minOccurs="1" name="requestJSON" nillable="true" type="xsd:string"/>
    <xsd:element maxOccurs="1" minOccurs="1" name="headJSON" nillable="true" type="xsd:string"/>
    <xsd:element maxOccurs="1" minOccurs="1" name="itemJSON" nillable="true" type="xsd:string"/>
    <xsd:element maxOccurs="1" minOccurs="1" name="historyJSON" nillable="true" type="xsd:string"/>
    <xsd:element maxOccurs="1" minOccurs="1" name="attachJSON" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="createRequestResponse">
  <xsd:complexType>
    <xsd:sequence>
    <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
</wsdl:types>

<wsdl:message name="createRequestRequest">
  <wsdl:part name="parameters" element="tns:createRequest">
  </wsdl:part>
</wsdl:message>
<wsdl:message name="createRequestResponse">
  <wsdl:part name="parameters" element="tns:createRequestResponse">
  </wsdl:part>
</wsdl:message>

<wsdl:portType name="ZOARequestAction_PortType">

  <wsdl:operation name="createRequest">
    <wsdl:input name="createRequestRequest" message="tns:createRequestRequest">
  </wsdl:input>
    <wsdl:output name="createRequestResponse" message="tns:createRequestResponse">
  </wsdl:output>
  </wsdl:operation>
</wsdl:portType>

  <wsdl:binding name="ZOARequestAction_HttpBinding" type="tns:ZOARequestAction_PortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="createRequest">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createRequestRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createRequestResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ZOARequestAction">
    <wsdl:port name="ZOARequestAction_HttpPort" binding="tns:ZOARequestAction_HttpBinding">
      <wsdlsoap:address location="http://eqeju3pb.qcloud.la/service/ZOARequestAction"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
